/*
    Student Name:Katelyn Nolan 
	File Name: apply09.css
	Current Date: 04/17/2024
*/

/* Remove the default margin and padding */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the font-family for the complete body */

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  font-size: 1.8rem;
  background-color: rgb(255, 226, 231);
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
/* 
  top_section as well as bottom_section have three columns 
  hence applying flex for both to arrange them columnwise


*/
.top__section,
.bottom__section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  row-gap: 1rem;
  padding: 1rem;
}
/* sections are the columns hence defining there width 33.33% so that each columns have
   equal width.
*/
.section1,
.section2,
.section3 {
  max-width: 33.33%;
  padding: 0.8rem;
}

h3 {
  margin-bottom: 1.2rem;
  font-weight: 900;
}

footer {
  text-align: center;
  background-color: rgb(255, 226, 231);
  padding: 1rem;
}
footer p span {
  font-weight: 600;
}
/* Make A website responsive */

@media screen and (max-width: 1000px) {
  .top__section,
  .bottom__section {
    flex-direction: column;
    justify-content: center;

    padding: 0.8rem;
  }
  .section1,
  .section2,
  .section3 {
    max-width: 100%;
    padding: 0.2rem;
  }
}
